@model Poll
@{
    ViewData["Title"] = "Employees";
}



<div class="container">
    <h3>Сколько сотрудников в штате?</h3>
    <div class="form-group">
        <form method="post">
            <div class="form-group">
                <label asp-for="Employees">Введите число сотрудников</label>
                <input type="number" asp-for="Employees" min="0" name="employees" />
            </div>
            @if (ViewBag.Error != null)
            {
                <p class="text-danger font-weight-bold">
                    @ViewBag.Error
                </p>
            }
            @if (Model.WhatIsNeeded2 != null)
            {
                <a class="btn btn-danger btn-lg m-2" asp-action="WhatIsNeeded2" asp-route-key="@ViewBag.Key">Назад</a>
            }
            @if (Model.WhatIsNeeded3 != null)
            {
                <a class="btn btn-danger btn-lg m-2" asp-action="WhatIsNeeded3" asp-route-key="@ViewBag.Key">Назад</a>
            }
            <input type="submit" class="btn btn-danger btn-lg m-2" value="Далее" />
        </form>
        
    </div>
</div>