@model Poll
@{
    ViewData["Title"] = "TaxSystem";
}

<div class="container">
    <h3>Какая у Вас система налогообложения?</h3>
    <div class="form-group">
        <form method="post" id="form">
            <div class="idContainer">
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="TaxSystem.ID" value="1" name="id" />
                    <label class="form-check-label">
                        ОСНО
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input id1" type="radio" asp-for="TaxSystem.ID" value="2" name="id" />
                    <label class="form-check-label">
                        УСН с доходов
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="TaxSystem.ID" value="3" name="id" />
                    <label class="form-check-label">
                        УСН доходы – расходы
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="TaxSystem.ID" value="4" name="id" />
                    <label class="form-check-label">
                        ЕНВД
                    </label>
                </div>
                @if (Model.TypeOfBusinessEntity.ID == 1)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="TaxSystem.ID" value="5" name="id" />
                        <label class="form-check-label">
                            Патент
                        </label>
                    </div>
                }
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="TaxSystem.ID" value="6" name="id" />
                    <label class="form-check-label">
                        ОСНО + ЕНВД
                    </label>
                </div>
                @if (Model.TypeOfBusinessEntity.ID == 1)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="TaxSystem.ID" value="7" name="id" />
                        <label class="form-check-label">
                            ОСНО + Патент
                        </label>
                    </div>
                }
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="TaxSystem.ID" value="8" name="id" />
                    <label class="form-check-label">
                        УСН с доходов + ЕНВД
                    </label>
                </div>
                @if (Model.TypeOfBusinessEntity.ID == 1)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="TaxSystem.ID" value="9" name="id" />
                        <label class="form-check-label">
                            УСН с доходов + Патент
                        </label>
                    </div>
                }
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="TaxSystem.ID" value="10" name="id" />
                    <label class="form-check-label">
                        УСН доходы-расходы + ЕНВД
                    </label>
                </div>
                @if (Model.TypeOfBusinessEntity.ID == 1)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="TaxSystem.ID" value="11" name="id" />
                        <label class="form-check-label">
                            УСН доходы-расходы + Патент
                        </label>
                    </div>
                }
            </div>
            <a class="btn btn-danger btn-lg m-2" asp-action="TypeOfBusinessEntity" asp-route-key="@ViewBag.Key">Назад</a>
            <input type="submit" class="btn btn-danger btn-lg m-2" value="Далее" />
        </form>
    </div>
</div>
@section Scripts {
    <script>
        $("#form").validate({
            rules: {
                id: {
                    required: true
                }
            },
            messages:
            {
                id:
                {
                    required: "Выберите подходящий для Вас вариант<br/>"
                }
            },
            errorPlacement: function (error, element) {
                if (element.is(":radio")) {
                    error.appendTo(element.parents('.idContainer'));
                }
                else { // This is the default behavior
                    error.insertAfter(element);
                }
            }
        });

    </script>
}