@model Poll

@{
    ViewData["Title"] = "TypeOfBusinessEntity";
}

<div class="container">
    <h3>Укажите тип хозяйствующего субъекта</h3>
    <div class="form-group">
        <form method="post" id="form">
            <label asp-for="TypeOfBusinessEntity">Тип хозяйствующего субъекта</label>
            <div class="idContainer">
                <div class="form-check">
                    <input class="form-check-input id1" type="radio" asp-for="TypeOfBusinessEntity.ID" name="id" value="1">
                    <label class="form-check-label">
                        ИП
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input id2" type="radio" asp-for="TypeOfBusinessEntity.ID" name="id" value="2">
                    <label class="form-check-label">
                        ООО
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input id3" type="radio" asp-for="TypeOfBusinessEntity.ID" name="id" value="3">
                    <label class="form-check-label">
                        Другое, указать что
                    </label>
                    @if (ViewBag.Error != null)
                    {
                        <p class="text-danger font-weight-bold">
                            @ViewBag.Error
                        </p>
                    }
                    <input type="text" asp-for="TypeOfBusinessEntity.Text" name="text" class="form-control m-1" id="text" disabled />
                </div>
            </div>
            <a class="btn btn-danger btn-lg m-2" asp-action="Email" asp-route-key="@ViewBag.Key">Назад</a>
            <input type="submit" class="btn btn-danger btn-lg m-2" value="Далее" />
        </form>

    </div>
</div>
@section Scripts {
    <script>
        $("#form").validate({
            rules: {
                id: {
                    required: true
                }
            },
            messages:
            {
                id:
                {
                    required: "Выберите подходящий для Вас вариант<br/>"
                }
            },
            errorPlacement: function (error, element) {
                if (element.is(":radio")) {
                    error.appendTo(element.parents('.idContainer'));
                }
                else { // This is the default behavior 
                    error.insertAfter(element);
                }
            }
        });
        if ($('.id3').prop('checked')) {
            $("#text").prop("disabled", false);
        }
        $('.id1, .id2, .id3').click(function () {
            if ($('.id3').prop('checked')) {
                $("#text").prop("disabled", false);
            }
            else {
                $("#text").prop("disabled", true);
            }
        });

    </script>
}