@model List<TablePrice>
<div class="tariff">
    <div class="container">
        <div class="tariff_wrap">
            <h3>Тариф «Комплексный сервис»</h3>
            <ul class="check-list">
                <li>
                    Полный пакет бухгалтерских услуг для обеспечения текущего учета, включая проверку оформления первичных
                    документов на бумажном носителе и ведение архива.
                </li>
                <li>Дополнительные услуги требуются не всем и не всегда.</li>
                <li>Гарантии клиенту на возмещение всех видов штрафных санкций за допущенные ошибки в учете и отчетности.</li>
            </ul>
        </div>
    </div>
    <div class="clouds"></div>
</div>
<div class="container" >
    <div class="row">
        <div class="col-12 col-lg-8" style="text-align:justify;">
            <p>
                <strong>Цель тарифа – идеальное состояние учета, отчетности и архива документов у клиента</strong>  (организации или ИП). Этим определяется сравнительно более широкий набор услуг относительно тарифного плана <a href="/TariffsAndPrices/Reporting">«Отчетность»</a>.
            </p>
            <h4>Сколько стоит?</h4>
            <p>
                Сумма по тарифу зависит от системы налогообложения и количества операций, зарегистрированных в сервисе «1С:БухОбслуживание» за месяц. Однако, все документы, самостоятельно и без ошибок введенные в сервис или загруженные клиентом из программы для ежедневного учета, не тарифицируются, а розничная выручка тарифицируется как одна операция.
            </p>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Система налогообложения (СНО)</th>
                        <th>Сумма тарифа</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model == null)
                    {
                        <tr>
                            <td>ЕНВД</td>
                            <td>от 3110 рублей/месяц</td>
                        </tr>
                        <tr>
                            <td>УСНО «доходы»</td>
                            <td>от 1780 рублей/месяц</td>
                        </tr>
                        <tr>
                            <td>УСНО «доходы-расходы» или ЕСХН</td>
                            <td>от 4665 рублей/месяц</td>
                        </tr>
                        <tr>
                            <td>ОСНО</td>
                            <td>от 6220 рублей/месяц</td>
                        </tr>
                        <tr>
                            <td>Комбинированные СНО</td>
                            <td>от 5600 рублей/месяц</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var t in Model)
                        {
                            <tr>
                                <td>@t.Name</td>
                                <td>@t.Unit</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <h4>Еще дешевле?</h4>
            <p>Посмотрите тариф <a href="/TariffsAndPrices/Reporting">«Отчетность»</a>. Он предполагает текущее ведение учета без обмена и проверки документов на бумажных носителях.</p>
            <h4>Когда оплачивать?</h4>
            <p>Оплата производится по окончании расчетного месяца после согласования с клиентом в личном кабинете сервиса Журнала оказанных услуг.</p>
            <h4>Услуги тарифа</h4>
            <ul class="check-list">
                <li>одна лицензия на право пользования «облачной» 1С:Бугалтерия 8</li>
                <li>подключение к электронной сдаче отчетности</li>
                <li>обновление программы до последнего релиза при его выходе</li>
                <li>круглосуточная техническая поддержка от 1С</li>
                <li>проверка правильности и комплектности документации</li>
                <li>ведение учета</li>
                <li>учет кадров</li>
                <li>расчет заработной платы</li>
                <li>устные консультации</li>
                <li>составление отчетности</li>
                <li>формирование платежных поручений на уплату налогов</li>
                <li>сдача отчетности</li>
                <li>ведение архива документов и отчетности</li>
                <li>централизованный аудит учета фирмой «1С»</li>
                <li>курьерские услуги</li>
             </ul>
        </div>
        <div class="col">
                <div class="row" style="border: 1px solid rgb(250, 208, 72);background-image:url(../img/banner_buh1.png);background-repeat: no-repeat;background-position: right bottom; width:300px;height:430px; position: relative; left: 10px;">
                    <p style="margin:5px;">Хотите получить консультацию?<br /><strong>Оставьте заявку и мы вам перезвоним</strong></p>
                    <div class="d-block mx-auto" style="text-align:center;position: absolute;bottom: 10px;right: 10px;">
                        <button class="btn btn-danger mb-1 btn-lg" data-toggle="modal" data-target="#Connect">Оставить заявку</button>
                    </div>
                </div>
        </div>
    </div>
</div>

