
@{
    ViewData["Title"] = "Тариф «Расчет заработной платы и кадровый учет»";
}
<div class="tariff">
    <div class="container">
        <div class="tariff_wrap">
            <h3>Тариф «Расчет заработной платы и кадровый учет»</h3>
            <ul class="check-list">
                <li>Возмещение убытков в случае неправильного расчета налогов или нарушений при сдаче отчетности.</li>
                <li>Расчет заработной платы и других выплат любой сложности.</li>
                <li>Любое количество работников в учете от 1 человека.</li>
            </ul>
        </div>
    </div>
    <div class="clouds"></div>
</div>
<div class="container">
    
    <div class="row">
        <div class="col-12 col-lg-8" style="text-align:justify;">

            <h4>Услуги тарифа</h4>
            <ul class="check-list">
                <li>лицензия на право пользования «облачной» 1С:ЗУП</li>
                <li>обновление программы при выходе новых релизов</li>
                <li>круглосуточная техническая поддержка от 1С</li>
                <li>подключение к электронной отчетности</li>
                <li>кадровый учет</li>
                <li>расчет заработной платы</li>
                <li>составление и сдача отчетности</li>
                <li>консультации</li>
                <li>формирование и хранение архива учетных данных</li>
                <li>курьерские услуги</li>
            </ul>
            <h4>Сколько стоит?</h4>
            <p>
                Сумма по тарифу зависит от количества работников в
                учете и определяется за месяц. <a href="~/docs/Tariff.pdf">Скачать файл «Сравнение тарифов»</a>
            </p>
            <h4>Когда оплачивать?</h4>
            <p>
                Оплата производится по окончании расчетного месяца после
                согласования с клиентом в личном кабинете сервиса Журнала
                оказанных услуг.
            </p>
        </div>
        <div class="col">
            <div class="row" style="border: 1px solid rgb(250, 208, 72);background-image:url(../img/banner_buh1.png);background-repeat: no-repeat;background-position: right bottom; width:300px;height:430px; position: relative; left: 10px;">
                <p style="margin:5px;">Хотите получить консультацию?<br /><strong>Оставьте заявку и мы вам перезвоним</strong></p>
                <div class="d-block mx-auto" style="text-align:center;position: absolute;bottom: 10px;right: 10px;">
                    <button class="btn btn-danger mb-1 btn-lg" data-toggle="modal" data-target="#Connect">Оставить заявку</button>
                </div>
            </div>
        </div>
    </div>
    </div>