<div class="tariff">
    <div class="container">
        <div class="tariff_wrap">
            <h3>Тариф «Программа и консультации»</h3>
            <ul class="check-list">
                <li>
                    Он-лайн бухгалтерия с индивидуальной консультационной поддержкой от сертифицированных фирмой
                    «1С» бухгалтеров.
                </li>
                <li>Клиент самостоятельно ведет учет, формирует и сдает отчетность.</li>
                <li>Отсутствие гарантий клиенту на возмещение штрафных санкций.</li>
            </ul>
        </div>
    </div>
    <div class="clouds"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8" style="text-align:justify;">
            <h4>
                Кому это нужно?
            </h4>
            <p>Тариф спроектирован:</p>
            <ul class="check-list">
                <li>
                    для владельцев бизнеса, руководителей, которые не знакомы с бухгалтерским учетом профессионально,
                    но хотят сами вести учет в простой программе (используется «1С:Предприниматель»).
                </li>
                <li>
                    для бухгалтеров, понимающих ценность квалифицированной индивидуальной поддержки работы в программе
                    и ведении учета (используется «1С:Бухгалтерия 8.3»).
                </li>
            </ul>
            <h4>Сколько стоит?</h4>
            <p>Стоимость тарифа: <a href="~/docs/Tariff.pdf">Скачать файл «Сравнение тарифов»</a>.</p>
            <h4 style="border-bottom:none;">Когда оплачивать?</h4>
            <p>
                Оплата производится по окончании расчетного месяца по итогам согласования с клиентом
                Журнала оказанных услуг.
            </p>
            <h4>Услуги тарифа</h4>
            <ul class="check-list">
                <li>лицензия на право пользования облачными «1С:Предприниматель» или «1С:Бухгалтерия 8.3»</li>
                <li>обновление программы до последнего релиза при его выходе</li>
                <li>сервис 1С-Отчетность</li>
                <li>сервис 1С:Контрагент</li>
                <li>сервис 1С:Сверка</li>
                <li>сервис 1С:ДиректБанк</li>
                <li>техническая поддержка от 1С </li>
                <li>2 часа обучения работе с программой при подключении к тарифу</li>
                <li>1 час в месяц устных консультаций от бухгалтера «1С:БухОбслуживания»</li>
            </ul>
        </div>
        <div class="col">
            <div class="row" style="border: 1px solid rgb(250, 208, 72);background-image:url(../img/banner_buh1.png);background-repeat: no-repeat;background-position: right bottom; width:300px;height:430px; position: relative; left: 10px;">
                <p style="margin:5px;">Хотите получить консультацию?<br /><strong>Оставьте заявку и мы вам перезвоним</strong></p>
                <div class="d-block mx-auto" style="text-align:center;position: absolute;bottom: 10px;right: 10px;">
                    <button class="btn btn-danger mb-1 btn-lg" data-toggle="modal" data-target="#Connect">Оставить заявку</button>
                </div>
            </div>
        </div>
    </div>
</div>