<div class="tariff">
    <div class="container">
        <div class="tariff_wrap">
            <h3>Тариф «Отчетность»</h3>
            <ul class="check-list">
                <li>Эквивалент ведения учета в организации или у ИП удаленным бухгалтером.</li>
                <li>Проверка оформления и ведение архива первичных документов на бумажных носителях - зона ответственности клиента.</li>
                <li>Возмещение убытков в случае неправильного расчета налогов или нарушения сроков сдачи отчетности.</li>
            </ul>
        </div>
    </div>
    <div class="clouds"></div>
</div>
<div class="container" >

    <div class="row">
        <div class="col-12 col-lg-8" style="text-align:justify;">
            <p>
                <strong> Цель тарифа – ведение учета, обеспечивающее правильное формирование и сдачу в срок регламентированной отчетности по предоставляемым в электронном виде данным и документам клиента</strong> (организации или ИП).
            </p>
            <h3>Сколько стоит?</h3>
            <p>
                Сумма по тарифу зависит от системы налогообложения, законодательно установленных требований к ведению бухгалтерского и (или) налогового учета, а также индивидуальных пожеланий клиента к целям учета, которые ему требуется реализовать. Минимальная стоимость тарифа: <a href="~/docs/Tariff.pdf">Скачать файл «Сравнение тарифов»</a>.</p>
            </p>
            <h4>Когда оплачивать?</h4>
            <p>
                Оплата производится по окончании расчетного квартала после согласования с клиентом в личном кабинете сервиса Журнала оказанных услуг.
            </p>
            <h4>Услуги тарифа</h4>
            <ul class="check-list">
                <li>одна лицензия на право пользования «облачной» 1С:Бугалтерия 8</li>
                <li>подключение к электронной сдаче отчетности</li>
                <li>обновление программы до последнего релиза при его выходе</li>
                <li>круглосуточная техническая поддержка от 1С</li>
                <li>ведение учета</li>
                <li>устные консультации</li>
                <li>составление отчетности</li>
                <li>
                    формирование платежных поручений на уплату налогов
                    (кроме, уплачиваемых с ФОТ)
                </li>
                <li>сдача отчетности</li>
                <li>ведение архива отчетности</li>
            </ul>

        </div>
        <div class="col">
            <div class="row" style="border: 1px solid rgb(250, 208, 72);background-image:url(../img/banner_buh1.png);background-repeat: no-repeat;background-position: right bottom; width:300px;height:430px; position: relative; left: 10px;">
                <p style="margin:5px;">Хотите получить консультацию?<br /><strong>Оставьте заявку и мы вам перезвоним</strong></p>
                <div class="d-block mx-auto" style="text-align:center;position: absolute;bottom: 10px;right: 10px;">
                    <button class="btn btn-danger mb-1 btn-lg" data-toggle="modal" data-target="#Connect">Оставить заявку</button>
                </div>
            </div>
        </div>
    </div>

</div>