<div class="container">
    <h1>Экспресс-аудит учета</h1>
    <div class="row">
        <div class="col-12 col-lg-8" style="text-align:justify;">
            <h3>Бесплатный экспресс-аудит учета и отчетности</h3>
            <p>
                Экспресс-аудит – это отличная возможность для руководителя или собственника бизнеса проверить бухгалтерский и (или) налоговый учет на имеющиеся недостатки и наличие слабых мест. Это не только внешняя независимая проверка, но и грамотные рекомендации по оптимизации. Вы увидите недочеты в своем учете раньше контролирующих органов и будете знать, как исправить ситуацию.
            </p>
            <p>
                Для проведения аудита сначала подписываем соглашение о конфиденциальности и неразглашении информации, а затем Вы предоставляете документацию по запросу и доступ нашему специалисту в текущую базу учета и сдачи отчетности.
            </p>
        </div>
        <div class="col">
            <div class="row" style="border: 1px solid rgb(250, 208, 72);background-image:url(../img/banner_buh1.png);background-repeat: no-repeat;background-position: right bottom; width:300px;height:430px; position: relative; left: 10px;">
                <p style="margin:5px;">Хотите получить консультацию?<br /><strong>Оставьте заявку и мы вам перезвоним</strong></p>
                <div class="d-block mx-auto" style="text-align:center;position: absolute;bottom: 10px;right: 10px;">
                    <button class="btn btn-danger mb-1 btn-lg" data-toggle="modal" data-target="#Connect">Оставить заявку</button>
                </div>
            </div>
        </div>
    </div>
</div>