<div class="container">
    <h1>Месяц 1С:БО в подарок</h1>
    <div class="row">
        <div class="col-12 col-lg-8" style="text-align:justify;">
            <h3>Первый полный месяц «1С:БухОбслуживания» – бесплатно!</h3>
            <p>
                Вы получаете от нашей компании «1С:БухОбслуживание.
                ПрофБО» гарантированный бонус в размере суммы тарифа за первый полный календарный месяц бухгалтерского
                сопровождения под брендом от фирмы «1С» после заключения договора на регулярные бухгалтерские услуги по тарифному плану <a href="/TariffsAndPrices/ComprehensiveService">«Комплексный сервис»</a>.
            </p>
            <p>
                Месяц бесплатного бухгалтерского обслуживания начинается с 01 числа календарного месяца, следующего за месяцем начала оказания услуг по договору. Дополнительные услуги, заказанные в течение бесплатного месяца в дополнение к тарифу, оплачиваются в установленном договором порядке.
            </p>
            <p>Вы можете бесплатно познакомится с уровнем сервиса в нашей компании и до заключения договора на регулярное обслуживание, заменив рассматриваемый бонус на другие:</p>
            <ul class="check-list">
                <li><a href="/SpecialOffers/Taxation">Бесплатная консультация по оптимизации налогообложения</a></li>
                <li><a href="/SpecialOffers/Registration">Бесплатная подготовка документов для регистрации бизнеса</a></li>
                <li><a href="/SpecialOffers/Reestablish">Бесплатная консультация по перерегистрации бизнеса</a></li>
                <li><a href="/SpecialOffers/Audit">Бесплатный экспресс-аудит учета и отчетности</a></li>
            </ul>
        </div>
        <div class="col">
            <div class="row" style="border: 1px solid rgb(250, 208, 72);background-image:url(../img/banner_buh1.png);background-repeat: no-repeat;background-position: right bottom; width:300px;height:430px; position: relative; left: 10px;">
                <p style="margin:5px;">Хотите получить консультацию?<br /><strong>Оставьте заявку и мы вам перезвоним</strong></p>
                <div class="d-block mx-auto" style="text-align:center;position: absolute;bottom: 10px;right: 10px;">
                    <button class="btn btn-danger mb-1 btn-lg" data-toggle="modal" data-target="#Connect">Оставить заявку</button>
                </div>
            </div>
        </div>
    </div>
</div>