<div class="container">
    <h1>Перерегистрация бизнеса</h1>
    <div class="row">
        <div class="col-12 col-lg-8" style="text-align:justify;">
            <h3>Бесплатная консультационная поддержка при перерегистрации бизнеса</h3>
            <p>Часто случается, что развитие бизнеса требует внести изменения в учредительные данные, содержащиеся в ЕГРЮЛ или ЕГРИП. Например, изменить перечень кодов видов деятельности (ОКВЭД) для ООО или ИП, поменять наименование, состав учредителей, юридический адрес для ООО, внести другие изменения. </p>
            <p>Бонус ориентирован на руководителей или собственников бизнеса, столкнувшихся с этой проблемой, и включает в себя:</p>
            <ul class="check-list">
                <li>Консультацию по порядку действий при перерегистрации бизнеса, внесении изменений в ЕГРЮЛ или ЕГРИП</li>
                <li>Консультацию по подбору кодов ОКВЭД</li>
            </ul>
            <p>
                Консультацию проводит специалист, сертифицированный фирмой «1С». Вы сможете бесплатно узнать полезную для Вас информацию и познакомиться с уровнем сервиса в нашей компании.
            </p>
        </div>
        <div class="col">
            <div class="row" style="border: 1px solid rgb(250, 208, 72);background-image:url(../img/banner_buh1.png);background-repeat: no-repeat;background-position: right bottom; width:300px;height:430px; position: relative; left: 10px;">
                <p style="margin:5px;">Хотите получить консультацию?<br /><strong>Оставьте заявку и мы вам перезвоним</strong></p>
                <div class="d-block mx-auto" style="text-align:center;position: absolute;bottom: 10px;right: 10px;">
                    <button class="btn btn-danger mb-1 btn-lg" data-toggle="modal" data-target="#Connect">Оставить заявку</button>
                </div>
            </div>
        </div>
    </div>
</div>