<div class="container">
    <h1>Регистрация бизнеса</h1>
    <div class="row">
        <div class="col-12 col-lg-8" style="text-align:justify;">
            <h3>Бесплатно подготовим для Вас комплект документов для регистрации ООО или ИП под гарантию заключения договора на регулярное бухгалтерское обслуживание</h3>
            <p>Бонус включает в себя:</p>
            <ul class="check-list">
                <li>Консультацию по выбору организационно-правовой формы (ООО или ИП)</li>
                <li>Консультацию по порядку действий при регистрации бизнеса</li>
                <li>Консультацию по подбору кодов ОКВЭД</li>
                <li>Консультацию по выбору системы налогообложения</li>
                <li>Подготовку комплекта регистрационных документов</li>
                <li>Помощь в открытии расчетного счета в банках-партнерах фирмы «1С»</li>
            </ul>

            <p>Для успешного завершения регистрационных действий от Вас потребуется только предоставить исходные данные и самостоятельно подать документы на регистрацию.</p>
            <p>Для предоставления бонуса в полном объеме необходимо будет сначала оплатить гарантийный взнос в сумме тарифа предстоящего бухгалтерского обслуживания. Консультационные услуги до этапа подготовки комплекта регистрационных документов могут быть оказаны до совершения указанной оплаты для возможности Вашего знакомства с уровнем сервиса в нашей компании. </p>
        </div>
        <div class="col">
            <div class="row" style="border: 1px solid rgb(250, 208, 72);background-image:url(../img/banner_buh1.png);background-repeat: no-repeat;background-position: right bottom; width:300px;height:430px; position: relative; left: 10px;">
                <p style="margin:5px;">Хотите получить консультацию?<br /><strong>Оставьте заявку и мы вам перезвоним</strong></p>
                <div class="d-block mx-auto" style="text-align:center;position: absolute;bottom: 10px;right: 10px;">
                    <button class="btn btn-danger mb-1 btn-lg" data-toggle="modal" data-target="#Connect">Оставить заявку</button>
                </div>
            </div>
        </div>
    </div>
</div>