<div class="container">
    <h1>Консультация по налогообложению</h1>
    <div class="row">
        <div class="col-12 col-lg-8" style="text-align:justify;">
            <h3>Бесплатная консультация по налогообложению</h3>
            <p>
                Налоговые платежи – составная часть расходов бюджета бизнеса. Поэтому оптимизация налогообложения (так же как других расходных статей) является залогом конкурентоспособности в любых отраслях деятельности, так как позволяет экономить, увеличивая прибыль, либо предлагать своему покупателю (заказчику) более привлекательные для него цены.
            </p>
            <p>
                Действующее налоговое законодательство содержит большое количество льготных положений. Указанные положения просто нужно знать и уметь применять. Но для их изучения требуется время, которого так часто не хватает бизнесменам.
            </p>
            <p>
                Консультацию проводит профессиональный бухгалтер. Вы сможете бесплатно узнать о некоторых практических путях снижения налоговой нагрузки для своего бизнеса и познакомиться с уровнем сервиса в нашей компании.
            </p>
        </div>
        <div class="col">
            <div class="row" style="border: 1px solid rgb(250, 208, 72);background-image:url(../img/banner_buh1.png);background-repeat: no-repeat;background-position: right bottom; width:300px;height:430px; position: relative; left: 10px;">
                <p style="margin:5px;">Хотите получить консультацию?<br /><strong>Оставьте заявку и мы вам перезвоним</strong></p>
                <div class="d-block mx-auto" style="text-align:center;position: absolute;bottom: 10px;right: 10px;">
                    <button class="btn btn-danger mb-1 btn-lg" data-toggle="modal" data-target="#Connect">Оставить заявку</button>
                </div>
            </div>
        </div>
    </div>
</div>