
@{
    ViewData["Title"] = "Contact";
}
<div class="container">
    <h1>Контакты</h1>

    <strong style="color:red;">Месторасположение не является территориальным ограничением благодаря «облачному» сервису и наличию курьерской службы в штате.</strong>
    <div class="row">
        <div class="col">
            <p>Телефон: <a href="tel:+78124251205">+7 (812) 425-12-05</a></p>
            <p>E-mail: <a href="mailto:sale@profbo.ru">sale@profbo.ru</a></p>
        </div>
        <div class="col">
            <p>
                Адрес: 194214 г.Санкт-Петербург, Выборгское шоссе, д.22Б,
                ТРК «Вираж», 2-й этаж.
            </p>
        </div>
    </div>
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab5f8f41dd6934d29c1edb711e36b4997ce33e83abb4eff74ffb191a3190afb6a&amp;source=constructor" height="400" frameborder="0" style="width:100%;"></iframe>
</div>