
@{
    ViewData["Title"] = "Lead1";
}
<div class="container" style="text-align:justify;">
    <h3 style="text-align:left;">Генеральный директор ООО «Промтекс», руководитель направления 1С:БухОбслуживание. ПрофБО.</h3>
    <div class="row">
        <div class="col-12 col-lg-8">
            <p>Наша компания ООО «Промтекс» организована в Санкт-Перебурге в 2001 году. Первоначально мы занимались производством товаров народного потребления и оказанием сопутствующих услуг. Лет через пять в результате развития производства возникла острая необходимость во внедрении системы автоматизации хозяйственной деятельности. По итогам изучения соответствующего рынка предложений остановились на программном комплексе 1С8: Управление производственным предприятием. Как показала практика, тогда мы приняли правильное решение. </p>
            <p>Внедрение 1С8 было не простым делом и потребовало много усилий, но в конечном итоге в течение нескольких месяцев позволило решить практически все задачи, стоящие перед компанией в области бухгалтерского, налогового и управленческого учета, а также планирования и контроля. В этой связи, конечно же, отдельно необходимо отметить профессионализм коллектива финансовой службы компании под руководством главного бухгалтера Елены Миловановой.  </p>
            <p>Отношением работников бухгалтерии к труду в сочетании с использованием высокотехнологичной платформы 1С, позволяющей обеспечить высокую степень автоматизации процессов, я объясняю феномен, с которым столкнулся через некоторое время. А именно, многие дилеры нашей компании, организации и индивидуальные предприниматели, отмечая высокое качество постановки и организации учетной работы у нас, просили рассмотреть возможность ведения своего бухгалтерского и налогового учета нашими силами и средствами. Причем они обращались неоднократно и на протяжении нескольких лет. </p>
            <p>В конечном итоге в последней четверти 2013 года, зная о высокой популярности аутсорсинга бухгалтерского учета в мировой экономике и все расширяющемся развитии данного рода услуг в нашей стране, руководство нашей компании, поддерживаемое коллективом финансовой службы, приняло решение начать работу по данному направлению. Мы взяли на бухгалтерское обслуживание несколько первых, наиболее нуждающихся в этих услугах, организаций и индивидуальных предпринимателей из числа наших дилеров. Практика оказалась успешной как для нас, так и для наших новых старых партнеров. </p>
            <p>Уверенность в успехе нового направления усилилась многократно с того момента, когда нам стало известно о новом франчайзинге «1С:БухОбслуживание», созданном фирмой «1С», признанным экспертом в области бухгалтерского учета, как показала в частности и наша практика. </p>
            <p>Мы не случайно решили подписать договор франчайзинга специально для оказания услуг по ведению бухгалтерского учета по единым стандартам «1С». Как давние и опытные пользователи одного из программных продуктов «1С» мы уверены, что модель бухгалтерского аутсорсинга «1С:БухОбслуживание» не только базируется на использовании высокотехнологичной «облачной» платформы, позволяющей обеспечить высокую степень автоматизации процессов, но и предполагает постоянный мониторинг их реализации для обеспечения оптимизации программных средств. Это  позволит партнерам сети «1С:БухОбслуживание» совершенствовать модель оказания услуг по бухгалтерскому сопровождению и повышать качество обслуживания своих клиентов. Поэтому мы поспешили стать одним из партнеров сети «1С:БухОбслуживание».</p>
            <p>Наш девиз: «Оптимизируя, сокращаем издержки». </p>
            <p>Свяжитесь с нами любым удобным для Вас способом.</p>
        </div>
        <div class="col text-center">
                <img src="~/img/Lead/director.jpg" alt="Author" style="max-width:200px; border-radius:20px;"><br />
                Смирнов Дмитрий
        </div>
    </div>
    
</div>

