
@{
    ViewData["Title"] = "Lead2";
}
<div class="container" style="text-align:justify;">
    <h3 style="text-align:left;">Главный бухгалтер ООО «Промтекс», заместитель руководителя направления 1С:БухОбслуживание. ПрофБО.</h3>
    <div class="row">
        <div class="col-12 col-lg-8">
            <p>Добро пожаловать на сайт нашей компании 1С:БухОбслуживание ПрофБО. «Профессиональное Бухгалтерское Обслуживание» («ПрофБО») – не просто слова, работая с 2001 года, мы накопили огромный багаж знаний и практический опыт в области постановки и ведения бухгалтерского, налогового, управленческого учета у юридических лиц и индивидуальных предпринимателей различных сфер деятельности с использованием программных продуктов 1С. Ваше посещение наверняка вызвано потребностью в бухгалтерских услугах или поддержке. Бухгалтерские услуги – наша профессия. Мы будем рады помочь Вам. Свяжитесь с нами любым удобным для Вас способом.</p>
            
        </div>
        <div class="col text-center">
            <img src="~/img/Lead/glavbuh.jpg" alt="Author" style="max-width:200px; border-radius:20px;"><br />
            Милованова Елена
        </div>
    </div>
    
</div>