
@{
    ViewData["Title"] = "WhoAreWe";
}
<div class="container">
    <h1>О компании</h1>
    <div class="row">
        <div class="col-12 col-lg-8" style="text-align:justify;">
            <p>
                ООО «Промтекс» начало свою деятельность в 2001 году. Первоначально компания была далека от специализации на бухгалтерских и юридических услугах и занималась производством мебели и жалюзи. По данным направлениям наша деятельность получила положительную оценку от многих уважаемых и известных клиентов.

            </p>
            <p>

                С расширением производства основной угрозой исполнения поставок в срок стало отсутствие оперативной информации о состоянии остатков материалов на складах. Таким образом, встал вопрос о выводе на новый качественный уровень на предприятии учетной работы. Была усилена финансовая служба и осуществлено внедрение программного комплекса «1С:Управление производственным предприятием».
            </p>
            <p>
                Показателем достигнутого уровня в организации бухгалтерии стало не только решение внутренних задач, но и многочисленные обращения дилеров предприятия, неоднократно отмечавших качество постановки учетной работы у нас, с просьбой рассмотрения возможности их бухгалтерского обслуживания нашими силами и средствами.
            </p>
            <p>
                Наконец в 2013 году руководство, опираясь на мнение финансовой службы предприятия и его дилеров, как независимых экспертов, приняло решение об открытии нового направления деятельности - бухгалтерского аутсорсинга. Была организована соответствующая структура и несколько дилеров стали нашими новыми старыми клиентами.
            </p>
            <p>
                А уже в феврале 2014 года наша квалификация была подтверждена фирмой «1С», включившей нас по итогам отборочного кастинга в число официальных партнеров проекта «1С:БухОбслуживание» в Санкт-Петербурге. Мы стали именоваться «1С:БухОбслуживание. ПрофБО».
            </p>
            <p>Наш девиз: «Оптимизируя, сокращаем издержки».</p>
        </div>
        <div class="col">
            <div class="products" id="products" style="border: 1px solid rgb(250, 208, 72); width:210px; text-align: center;">
                <h3>О нашем производстве</h3>
                <a href="~/img/ratings/about_img1.jpg"><img src="~/img/ratings/about_img1.jpg" width="190" style="cursor: pointer; border: 1px solid rgb(250, 208, 72); margin:5px;" /></a></br>
                <a href="~/img/ratings/about_img2.jpg"><img src="~/img/ratings/about_img2.jpg" width="190" style="cursor: pointer; border: 1px solid rgb(250, 208, 72); margin:5px;" /></a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $('#products').magnificPopup({
            delegate: 'a', // child items selector, by clicking on it popup will open
            type: 'image',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
            }
        });
    </script>
}