@model List<Question>
<div class="container">
    <h1>Часто задаваемые вопросы</h1>
    <div class="row">
        <div class="col-12 col-lg-8">
            <input type="text" id="search" class="form-control" placeholder="Что искать?" />
            <div id="searchdiv">

                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Что заставляет все большее количество предпринимателей пользоваться услугами бухгалтерского аутсорсинга?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Качественная постановка, организация и ведение бухгалтерского, налогового или управленческого учета требуют обширных и специализированных знаний и навыков, более того, требующих постоянного обновления в условиях непрерывного изменения законодательства в рассматриваемых областях. </p>
                        <p>Каждый отдельный квалифицированный бухгалтер на рынке труда оценивает свои услуги для работодателя соответственно, и заполучить его в штат будет стоить ежемесячно «кругленькую» сумму. Более того, одним таким специалистом в штате не обойдешься, хотя бы вследствие необходимости обеспечения резерва трудовых ресурсов в этой области на случай отпуска, болезни, неожиданного увольнения в двухнедельный срок и т.п.</p>
                        <p>При этом хорошо, если загрузка работников бухгалтерии соответствует их заработной плате. Во многих организациях это не так, и расходы на оплату бухгалтерского труда превышают трудоемкость процесса.     </p>
                        <p>Многим действительно стоящим работникам, помимо высокой зарплаты, требуются перспективы карьерного роста и социального статуса. Как правило, предприятиям малого и среднего бизнеса обеспечить такой рост не представляется возможным и указанные потенциальные работники попросту не рассматривают их в качестве желаемого работодателя. </p>
                        <p>Найти специалиста в любой отрасли – не простая задача. На это нужно потратить и деньги, и время. Необходимо овладеть соответствующим инструментарием, чтобы в кратчайшие сроки иметь возможность оценить уровень квалификации и желания работать нового работника, пока он не успел «наломать дров». </p>
                        <p>Но даже, если Вам повезло, и Вы нашли настоящего профессионала, он, прежде всего, является человеком, а людям свойственно ошибаться. Случайная арифметическая ошибка или описка бухгалтера может привести к наложению на предприятие существенных штрафных санкций со стороны контролирующих органов. Возместить в наших условиях убытки за счет наемного работника в необходимом объеме и разумном временном отрезке не представляется  возможным.</p>
                        <p>И это еще не все, организация собственной бухгалтерской службы потребует вложений в оснащение для нее рабочих мест, покупку и внедрение бухгалтерского программного обеспечения, выделения дополнительных площадей. За этим последуют дополнительные текущие затраты на обучение, повышение квалификации, литературу, аттестацию рабочих мест, поддержание в рабочем состоянии и ремонт мебели, обслуживание оргтехники, обновление и поддержку программного обеспечения и т.п.</p>
                        <p>Даже из этого краткого анализа следует, что организация и осуществление учетной работы на должном уровне внутри предприятия собственными силами и средствами требует значительных временных и финансовых затрат и в то же время не исключает рисков. При этом учет в организации, являясь, безусловно, необходимым для нее бизнес-процессом, сам по себе не обеспечивает достижение уставных целей, а только обслуживает этот процесс, и, оттягивая на себя ресурсы, даже в некоторой степени может мешать достижению основных целей предприятия. </p>
                        <p>В связи с этим возникло и в настоящее время получает все более широкое распространение такое явление как аутсорсинг бухгалтерского учета.</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">В чем заключаются услуги 1С:БухОбслуживание?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Услуги «1С:БухОбслуживание» – это современный стандарт оказания бухгалтерских услуг, разработанный фирмой «1С». Сочетание:</p>
                        <ul class="check-list">
                            <li>
                                <b>Актуальных информационных технологий</b>
                                <p>Для  каждого клиента организуется круглосуточный удаленный доступ  (можно и с домашнего компьютера) к его учетной базе. </p>
                                <p>Вы сможете сформировать и вывести на печать любой первичный документ, контролировать нашу работу и отслеживать состояние учета.</p>
                            </li>
                            <li>
                                <b>Индивидуальной заботы обслуживающей бухгалтерии о клиенте</b>
                                <p>Учет ведет профессиональная обслуживающая бухгалтерия, которая правильно считает налоги,  выполняет все поручения, дает советы, сдает отчетность и разбирается с налоговой.</p>
                            </li>
                        </ul>
                        <p>Став клиентом 1С:БО, Вы получаете следующие услуги от обслуживающей бухгалтерии:  </p>
                        <ul class="check-list">
                            <li>ведение бухгалтерского и/или налогового учета</li>
                            <li>ведение кадрового учета и расчет заработной платы</li>
                            <li>предоставление доступа к программе «1С:Бухгалтерия 8» через интернет</li>
                            <li>составление и сдача отчетности по электронным каналам связи</li>
                            <li>устные консультации по текущим хозяйственным ситуациям (по учёту и налогообложению текущих и/или планируемых хозяйственных операций)</li>
                            <li>услуги курьера для получения документов по договору</li>
                            <li>формирование за год и хранение архива учетных документов</li>
                        </ul>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Как оплачиваются услуги по тарифному плану «1С:БухОбслуживание. Комплексный сервис»?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Услуги тарифного плана «1С:БухОбслуживание. Комплексный сервис» оплачиваются по тарифу. Тариф всегда включает в себя:</p>
                        <ul class="check-list">
                            <li>лицензию на использование программы «1С:Бухгалтерия 8» путем открытия удаленного доступа через сеть Интернет (со всеми обновлениями программы, на период действия договора 1С:БухОбслуживание).</li>
                            <li>комплекс услуг от обслуживающей бухгалтерии: </li>
                            <p style="text-indent: 50px;">ведение бухгалтерского и/или налогового учета</p>
                            <p style="text-indent: 50px;">кадровый учет и расчет заработной платы*</p>
                            <p style="text-indent: 50px;">составление и сдачу отчетности по электронным каналам связи</p>
                            <p style="text-indent: 50px;">устные консультации по бухгалтерскому и налоговому учету</p>
                            <p style="text-indent: 50px;">услуги курьера для получения документов по договору</p>
                            <p style="text-indent: 50px;">формирование и хранение архива учетных документов</p>
                        </ul>
                        <h6 style="font:normal 10px/16px 'PTSansSerif', 'Arial', sans-serif">* Для количества работников, сверх указанного в тарифе – за дополнительную плату.</h6>
                        <p>Перечень услуг комплекса гарантирует клиенту наличие учета в объеме, необходимом и достаточном для того, чтобы выполнить все требования законодательства, регламентирующего бухгалтерский и налоговый учет</p>
                        <p>Тариф устанавливается на диапазон хозяйственных операций. </p>
                        <p>Хозяйственная операция – это любая Ваша бизнес-операция. Например: оплата поставки товара поставщику, получение оплаты от клиента, реализация товаров (работ, услуг) клиенту.</p>
                        <p>Для того, чтобы определить для Вас тариф на комплексный сервис 1С:БО, необходимо оценить количество ваших бизнес-операций в месяц.</p>
                        <p>Тариф зависит только от количества хозяйственных операций и системы налогообложения и определяется ежемесячно. Это значит, что тариф гибко подстроится под развитие Вашего бизнеса и его сезонный (нерегулярный) характер.</p>
                        <p>Вы можете управлять  величиной тарифа для тарифного плана «1С:БО. Комплексный сервис».</p>
                        <p>Обслуживающая бухгалтерия настроит услуги тарифного плана «1С:БО.Комплексный сервис», исходя из параметров Вашего бизнеса и  задач, которые Вы  ставите перед своей бухгалтерией.</p>
                        <p>Если Вы самостоятельно будете регистрировать в Вашей  учетной базе в 1С:Бухгалтерия 8 некоторые хозяйственные операции – например,  операции по продаже услуг, работ или вести оперативный учет товаров – то такие операции не тарифицируются – конечно, при условии, что они зарегистрированы без ошибок. </p>
                        <p>Если у Вас большой документооборот и Ваши менеджеры ежедневно используют программу «1С:Управление торговлей 8» для выписки документов, учета номенклатуры товаров и их  движения - мы сможем использовать данные, введенные Вашими менеджерами в эту программу. Для этого данные из «1С:Управление торговлей 8» будут загружаться в Вашу учетную базу в «1С:Бухгалтерия 8».  </p>

                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Нужно ли мне оплачивать что-то дополнительно по окончании месяца?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Если никаких дополнительных заданий или работ Вы нам не поручали –  Вы оплачиваете только тариф по тарифному плану. </p>
                        <p>Если Вы в течение месяца давали нам какие-то поручения, которые не входят в тарифицированный перечень услуг, например, поручали срочно сделать платежные поручения, вызывали курьера для передачи документов своим контрагентам, отправляли бухгалтера в налоговую –  в этом случае стоимость услуг сложится из тарифа и стоимости выполненных поручений.</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Могу ли я увидеть образец договора до подписания?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Да, конечно. Мы готовы выслать его Вам по электронной почте.</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Как будет организована работа по ведению учета: передача документов, ведение учета, сдача отчетности и прочее?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Для работы нам потребуются Ваши первичные документы и данные учета.</p>
                        <p>Мы согласуем с Вами периодичность, с которой они будут передаваться нам – в зависимости от объема документооборота, специфики Вашей деятельности, потребности получения дополнительных специфических отчетов и т.п. факторов</p>
                        <p>Ваши документы забирает наш курьер в Вашем офисе или другом удобном для Вас месте.</p>
                        <p>Мы ведем Ваш учет с использованием программы «1С:Бухгалтерия 8».  Для Вас создается информационная база данных (ИБД), которая размещается на удаленном и защищенном сервере в дата-центре. </p>
                        <p>Мы предоставляем Вам право пользования  программой «1С:Бухгалтерия 8» и удаленный доступ к Вашей ИБД. </p>
                        <p>Наши бухгалтеры работают только в нашем офисе.</p>
                        <p>В течение месяца мы вводим в Вашу ИБД данные из первичных документов, составляем необходимые учетные регистры (кассовую книгу, журнал учета счетов-фактур и т.п.). </p>
                        <p>По окончании отчетного периода мы формируем отчетность, рассчитываем налоги, готовим платежные поручения на уплату налогов. </p>
                        <p>Вы утверждаете сумму налога и отчетность, и мы отправляем ее по электронным каналам связи по назначению в налоговые органы, внебюджетные фонды, Росстат.</p>
                        <p>Для ведения кадрового учета Вы ежемесячно предоставляете нам данные по сотрудникам: ФИО, копии паспортов, дату, с которой работник принят/уволен/ушел в отпуск и т.п. сведения и документы – мы на основе этих данных составляем приказы на прием-увольнение, отпуска работников.</p>
                        <p>Для расчета заработной платы для Ваших сотрудников Вы ежемесячно предоставляете нам необходимые для этого данные и документы, мы на их основе делаем все необходимые расчеты. </p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Что я должен делать в течение отчетного периода (месяца), чтобы бухучет велся корректно?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Основная цель услуг сети «1С:БухОбслуживание» - освободить Вас от рутины, связанной с ведением бухучета, чтобы у Вас было больше времени на развитие своего бизнеса.</p>
                        <p>Ваша задача проста - своевременно и в полном объеме передавать нам первичные документы и необходимую информацию об осуществлении финансово-хозяйственной деятельности. А бухучет весь мы берем на себя. Мы согласуем с Вами график, по которому наш курьер будет забирать у Вас документы. Просто передайте их нам вовремя.</p>
                        <p>От этого зависит полнота и правильность составления отчетности. Помните, мы гарантируем Вам правильность и своевременность сдачи Ваших отчетов при условии,  что Вы своевременно и в полном объеме передаете нам первичные документы и данные учета.</p>
                        <p>Вы можете в любое время обратиться к нам с поручением или вопросом  - мы всегда доступы и всегда готовы быть Вам полезными.</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Какое количество поездок курьера входит в тарифный план?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Для каждого тарифного плана определено количество визитов курьера для получения/передачи документов по договору. Такие  визиты входят в стоимость тарифа и не оплачиваются отдельно.</p>
                        <p>В случае,  если Вам потребуются услуги курьера для других целей – например, отвезти документы Вашему контрагенту, мы готовы выполнить эту работу для Вас в качестве дополнительной услуги, которую необходимо оплатить.</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Нужно ли мне приезжать к вам в офис?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Такой необходимости нет – мы строим свою работу так, чтобы Вы не тратили время на ненужные поездки и могли посвящать свое время развитию Вашего бизнеса.</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Я могу быть уверен, что переданные мной первичные документы в полном объеме и в срок дошли до вашей бухгалтерии?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Наша ответственность за Ваши документы начинается с момента передачи их под расписку нашему курьеру. Курьер в Вашем присутствии пересчитывает количество листов, полученных от Вас. </p>
                        <p>По истечении года – когда отчетность за истекший год  будет сформирована и сдана - мы передаем Вам все полученные от Вас первичные документы, а также формы отчетности, составленные нами в процессе работы с Вашими документами. </p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Услуги курьера, расчет з/пл и кадровый учет входят и в тарифный план, и в дополнительные услуги, почему?</p>
                    </div>
                    <div class="hidden_content">
                        <p>В тарифный план включены визиты курьера только для получения/передачи первичных документов, необходимых для ведения учета. При этом количество визитов курьера будет зависеть от  действующего для Вас тарифного плана.</p>
                        <p>Если Вам потребуются услуги курьера для других целей – например, отвезти документы Вашему контрагенту, мы готовы выполнить эту работу для Вас в качестве дополнительной услуги, которую необходимо оплатить. </p>
                        <p>В тарифный план включены расчет з/пл и ведение кадрового учета только для определенного количества работников. Расчет з/пл и ведение кадрового учета для количества работников, сверх указанного в тарифе, осуществляется за дополнительную плату.</p>
                        <p>Если у Вашей организации количество работников больше, чем установлено действующим для Вас тарифным планом, мы рассчитаем заработную плату (оформим кадровые документы) для каждого работника. При этом переходить на другой тарифный план Вам не придется - расчет з/пл (кадровый учет) для работников сверх указанного в тарифе количества будет оформлен как дополнительная услуга.</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Кто будет подписывать мою бухгалтерскую отчетность?</p>
                    </div>
                    <div class="hidden_content">
                        <p>В соответствии с законодательством РФ, бухгалтерская отчетность клиентов, у которых бухгалтерский учет ведет специализированная организация, подписывается руководителем компании-клиента и руководителем этой специализированной организации. Таким образом, Вашу отчетность будете подписывать Вы и руководитель нашей компании.</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Если у меня постоянная «текучка» кадров, как вы будете отслеживать текущие изменения, связанные с приемом и увольнением моих работников?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Наша задача отразить в учете и отчетности все «кадровые движения», которые произошли на Вашем предприятии в течение отчетного периода. </p>
                        <p>От Вас требуется своевременно сообщать нам о произошедших у Вас кадровых изменениях и предоставлять по ним необходимые документы (паспортные данные работника, приказ о приеме на работу и т.д.). </p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Каким образом будет сдаваться наша отчетность? Какие подтверждающие сдачу отчетности документы мы получим?</p>
                    </div>
                    <div class="hidden_content">
                        <p>В состав услуг по ведению учета включается сдача бухгалтерской и налоговой отчетности по телекоммуникационным каналам связи. Никаких отдельных договоров на сдачу отчетности заключать не требуется.</p>
                        <p>Вам будет необходимо выдать нам доверенность на право использования ЭЦП, на основании которой мы будем подписывать отчетность в течение срока действия договора оказания услуг (основание – п.1 ст. 10 ФЗ №63-ФЗ от 06.04.2011 «Об электронной подписи»).</p>
                        <p>Подтверждением сдачи отчетности по телекоммуникационным каналам связи служат квитанции о принятии отчетности и протоколы принятия ее налоговым органом,  отделением пенсионного фонда, фондом социального страхования.  </p>
                        <p>В исключительных случаях отчетность может быть сдана по почте или лично нашим курьером.</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">При сдаче отчетности по электронным каналам связи кто несет расходы по подключению и обслуживанию соответствующего программного комплекса для сдачи отчетности в ИФНС, ПФ, ФСС, Росстат?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Все расходы по подключению и обслуживанию специального программного комплекса для сдачи отчетности  по электронным каналам связи несем мы. </p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Какие документы я должен передать Вам для того, чтобы Ваша фирма начала вести учет?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Копии документов, выданных регистрирующими органами (устав, свидетельство о государственной регистрации, коды статистики, лицензии – если есть и т.п.).</p>
                        <p>Копии документов, касающихся ведения учета  - учетная политика (если есть), лимит остатка по кассе, формы отчетности за текущий год (если есть).</p>
                        <p>Все первичные документы, находящиеся в Вашем распоряжении, за период с начала текущего квартала.</p>
                        <p>Подробный список документов мы дадим в приложении к договору на ведение учета.</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Что входит в  услугу секретаря «Запрос и получение у поставщиков клиента первичных документов»?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Запрос документов – это звонок или электронное письмо Вашему контрагенту с просьбой оформить недостающие/переоформить неверные первичные документы.</p>
                        <p>Все актуальные реквизиты контрагента должен предоставить клиент.</p>
                        <p>После согласования с контрагентом всех вопросов мы получаем от них по эл. почте или по факсу «образы» документов – это отсканированная копия документа или копия документа по факсу.</p>
                        <p>Если все правильно – договариваемся о способе получения оригиналов документов.</p>
                        <p>Если контрагент готов лично привезти документы к нам в офис – мы договариваемся о времени доставки.</p>
                        <p>Если контрагент готов отправить документы по почте – уточняем адрес доставки. </p>
                        <p>Если контрагент готов принять нашего курьера - согласовываем с Вами необходимость поездки, Вы подтверждаете готовность оплатить услуги курьера, назначаем время передачи документов с контрагентом.</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Если в ходе сотрудничества с вашей организацией, мне приходит уведомление из налоговой инспекции о несвоевременной сдаче отчетности, что я должен делать?</p>
                    </div>
                    <div class="hidden_content">
                        <p>В таком случае Вам необходимо переадресовать нам данную корреспонденцию. Наши сотрудники свяжутся с контролирующими органами по предъявленным требованиям и определят причину, в результате которой отчетность не была сдана в срок. </p>
                        <p>Если отчетность сдана несвоевременно по нашей вине, мы обязуемся компенсировать Вам сумму штрафов, выставленную контролирующими органами.</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">В случае проведения налоговой проверки кто будет представлять интересы моего предприятия?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Мы будем представлять интересы Вашего предприятия при всех налоговых проверках. Единственное, что для этого нам потребуется – доверенность на имя нашего ответственного работника и доверительные партнерские отношения  с нами руководства предприятия.</p>
                        <p>Услуга по представлению Ваших интересов в налоговых  (других контрольных) органах является дополнительной и оплачивается отдельно.</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Кто будет делать платежные поручения, ездить в банк за выписками?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Если у Вас подключена система интернет-банкинг или клиент-банк, то мы оформляем ключ технического доступа к счету.</p>
                        <p>Этот ключ дает возможность получать выписки банка и формировать платежки БЕЗ ПРАВА их отправки (подписи). Отправку осуществляете Вы.</p>
                        <p>Если Вы сдаете платежки в банк на бумажных носителях – то мы формируем платежные поручения и направляем их Вам в виде файла по эл. почте. Данная услуга является дополнительной (за исключением формирования платежных поручений на уплату налогов и взносов). Вы распечатываете платежные поручения и отвозите их в банк.</p>
                        <p>Отвозить платежки в банк и забирать выписки может наш курьер. Это дополнительное поручение - оно оплачивается отдельно.</p>
                        <p>Мы категорически против предоставления нам права подписи на платежных документах, и ни при каких обстоятельствах этого права не принимаем.</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Учетная политика для моей компании является типовой или индивидуальной?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Как правило, для большей части клиентов подходит типовая учетная политика.</p>
                        <p>Индивидуальная учетная политика составляется в случае, если Вы хотите:</p>
                        <ul class="check-list">
                            <li>разработать детальную схему документооборота</li>
                            <li>разработать индивидуальные, не соответствующие унифицированным, формы первичных документов и/или внутренней отчетности</li>
                            <li>разработать индивидуальную структуру статей расходов для формирования себестоимости продукции, товаров, работ, услуг</li>
                            <li>разработать рекомендации по технологии обработки оперативной (складской) информации</li>
                            <li>и т.д.</li>
                        </ul>
                        <p>Разработка индивидуальной учетной политики – это дополнительная услуга, которая оплачивается отдельно.</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Сколько времени необходимо для принятия документов от предыдущего бухгалтера? Какие действия должны быть произведены руководителем либо другими сотрудниками предприятия при передаче документов?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Для того чтобы мы могли в период действия договора оказания услуг правильно отражать все факты Вашей хозяйственной деятельности, необходимо перед началом ведения учета выполнить некоторые действия:</p>
                        <ul class="check-list">
                            <li>принять от Вас необходимые документы за указанный нами период</li>
                            <li>принять от Вас копии документов, выданных регистрирующими органами  (копия Устава, учредительного договора, копия ИНН и т.п.)</li>
                            <li>создать и настроить для Вас Информационную Базу Данных (ИБД) и предоставить удаленный доступ к Вашей ИБД</li>
                            <li>составить для Вас учетную политику, если это необходимо</li>
                            <li>определить, кто из работников будет отвечать за своевременную передачу данных во время действия договора</li>
                            <li>оформить необходимые доверенности</li>
                            <li>принять от Вас исходящие остатки по счетам учета (если применимо)</li>
                            <ul>
                                <li>На выполнение всех указанных действий нам понадобится не более 5-ти (пяти) рабочих дней, при условии, что все документы будут предоставлены вовремя.</li>
                                <li>Как только все документы и доверенности будут переданы, ИБД настроена  - мы начинаем обслуживать Ваш учет по технологии 1С:БухОбслуживание согласно нашим Стандартам. </li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">С главным бухгалтером в штате я могу обсуждать вопросы налогообложения, внутреннего учета, экономические проблемы и другие вопросы по финансовой деятельности. А с кем и как я могу консультироваться в случае заключения договора с вашей фирмой?</p>
                    </div>
                    <div class="hidden_content">
                        <p>По всем вопросам, возникающим в процессе Вашей финансово-хозяйственной деятельности, Вы можете смело обратиться к нашим специалистам – спросить совета, дать поручение и проконтролировать его исполнение.</p>
                        <p>Мы всегда на связи – по телефону и электронной почте, Вы можете прийти к нам в офис в рабочее время.</p>
                        <p>Наши специалисты максимально быстро реагируют на любую Вашу просьбу или поручение.  </p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Мы ведем бухгалтерский учет  в программе 1С. Будете ли вы продолжать вести учет в моей базе и как это будет организовано?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Бухгалтерский и налоговый учет клиентов мы ведем по стандарту 1С:БухОбслуживание, разработанному фирмой «1С».  Стандартом предусмотрено ведение учетных баз клиентов с использованием программы «1С:Бухгалтерия 8», развернутой в «облаке». К этой базе данных Вы будете иметь доступ из любой точки мира, где есть интернет, что является одним из преимуществ нашего сервиса.</p>
                        <p>Если Вы уже ведете учет с использованием программы «1С:Бухгалтерия 8», мы сможем перенести данные из Вашей базы в «облако».</p>
                        <p>Если же Вы вели бухгалтерский учет, используя другой программный продукт, при переходе на обслуживание мы перенесем Ваши входящие остатки по счетам в «облако», но за разумную плату.</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">У нас установлена УТ (варианты: ТиС, написанная специально для нас программа), в которой мы ведем учет нашей оперативной деятельности. Мы  сможем продолжать использовать свою программу?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Разумеется, не нужно отказываться от того программного продукта, который Вы ежедневно используете для оперативного учета.</p>
                        <p>Если Вы используете программу «1С:Управление торговлей 10.3» или  «1С:Управление торговлей 11», «1С:Управление нашей фирмой», то есть ту, из которой есть готовая выгрузка - мы  сможем принимать от Вас данные в виде выгрузки из нее и использовать их для ведения бухгалтерского учета.  При определении тарифа эти процедуры выгрузки учитываться не будут.</p>
                        <p>Если Вы используете для ведения оперативного учета такой программный продукт, для которого отсутствует типовая выгрузка в программу 1С:Бухгалтерия 3.0, опубликованную в сервисе 1С:БухОбслуживание, то мы готовы сделать интеграцию вашего приложения с 1С:Бухгалтерией 3.0 в сервисе за дополнительную плату (т.к. это дополнительная услуга). При определении тарифа, процесс выгрузки в 1С:Бухгалтерия 3.0 не учитывается.</p>
                        <p>Также для клиентов услуг 1С:БО могут быть автоматизированы часто выполняемые операции, добавлены новые печатные формы (счета на оплату, индивидуальный дизайн), разработаны отчет, реализовано заполнение документов и другой функционал. </p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Будете ли вы давать рекомендации по оформлению первичных документов, консультировать наших работников по этим вопросам?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Да, конечно, мы бесплатно консультируем наших клиентов по всем вопросам, связанным с оформлением первичных документов.</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Наша деятельность носит сезонный характер, зимой (летом) обороты сильно падают, возможно, остается несколько отгрузок в месяц. Останется ли та же цена по договору в такие месяцы?</p>
                    </div>
                    <div class="hidden_content">
                        <p>У нас гибкое ценообразование. Тарифы подстраиваются под развитие Вашего бизнеса и его сезонный (нерегулярный) характер, зависят только от системы налогообложения и количества операций. Вы платите за услуги в соответствии с объемом "их потребления". Больше используете - больше платите и, наоборот.</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Если мы заключим договор на аутсорсинг, нужен ли на нашем предприятии работник в штате для подготовки каких-либо бухгалтерских документов? Если нужен, то какой квалификации?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Как правило, на работающем предприятии уже есть человек, «изготавливающий» эту документацию. Это либо операционист, либо менеджер, который выписывает накладные, либо сам директор. Дополнительных, «особых» сотрудников не потребуется. Также нет необходимости такому сотруднику иметь специальное бухгалтерское или экономическое образование – достаточно той квалификации, которая требуется при исполнении его обычных обязанностей на предприятии.</p>
                        <p>При недостаточной квалификации мы готовы в качестве дополнительной услуги обучить пользователей необходимым навыкам. </p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">У нас на предприятии нестандартный учет (вариант: много нестандартных операций). Предыдущий бухгалтер  специально для нас составлял дополнительные отчеты (документы). А кто будет составлять эти отчеты после заключения договора с вашей фирмой?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Мы можем создавать ЛЮБЫЕ нестандартные отчеты, включающие заданные Вами параметры. </p>
                        <p>Составление таких отчетов является дополнительной услугой и подлежит оплате. Заказать такую дополнительную услугу очень просто – достаточно отправить нам поручение через Личный кабинет в сервисе 1С:БухОбслуживание. Стоимость дополнительной услуги будет включена в стоимость услуг за текущий месяц.</p>
                        <p>Нестандартный учет с точки зрения бухучета – не существует. Потому что стандарты бухучета прописаны в ПБУ и полностью реализованы в программе «1С:Бухгалтерия 8». Другое дело, что есть нестандартная первичная документация, связанная с учетом в отрасли. Для ее учета логично использовать специализированные решения, сделанные под ту или иную отрасль. И мы можем их порекомендовать. А если наш партнер имеет еще и статус «1С:Франчайзи» - даже внедрить. А в бухучет информация будет приходить на уровне выгрузок. Вот в этих решениях Вы можете вести различные нестандартные операции, которые можно потом в виде проводок выгружать в нашу стандартную облачную Бухгалтерию.</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Кто будет выписывать текущие первичные документы – накладные, счета, счета-фактуры, приходные и расходные кассовые ордера?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Текущие первичные документы выписывают ответственные работники Вашего предприятия: менеджеры, операционист, кассир и т.д. </p>
                        <p>Но Вы также можете заказать составление первичных документов нашим сотрудникам. Это дополнительная услуга, которая не входит в тарифный план. Оплата взимается за каждый составленный для Вас документ. </p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Если в результате проверки, либо в ходе других проверочных мероприятий, будут начислены штрафные санкции, будет ли аутсорсинговая компания нести материальную ответственность?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Да, мы будем нести материальную ответственность (в отличие от наемного бухгалтера), если выяснится, что штрафные санкции начислены по нашей вине.</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Несете ли вы ответственность за свою работу?</p>
                    </div>
                    <div class="hidden_content">
                        <p>При заключении договора мы несем ответственность за качество оказанных услуг. Порядок наступления ответственности прописан в договоре.</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Где хранятся мои учетные документы?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Документы текущего года хранятся у нас в офисе – мы формируем архив Ваших учетных данных.</p>
                        <p>По окончании текущего года – после сдачи годовой отчетности – мы передаем Вам архив учетных документов.</p>
                        <p>Мы можем хранить Ваш учетный архив и далее  - в качестве дополнительной услуги. Вы оформляете нам соответствующее поручение, мы его выполняем. Стоимость этой дополнительной услуги будет включена в стоимость услуг за текущий месяц.</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Как я могу проверить качество Вашей работы?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Вы всегда имеете удаленный доступ к своей учетной базе, поэтому всегда можете проконтролировать работу обслуживающей бухгалтерии либо самостоятельно, либо с привлечением независимых аудиторов.</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Я могу быть уверенным, что мои данные не пропадут?</p>
                    </div>
                    <div class="hidden_content">
                        <p>В сервисе предусмотрено несколько уровней обеспечения безопасности и сохранности данных. </p>
                        <ul class="check-list">
                            <li>Данные, которые пользователи вводят при работе с приложениями системы "1С:Предприятие", хранятся и обрабатываются в надежном и охраняемом дата-центре.</li>
                            <li>Мы регулярно осуществляем полное резервное копирование всех данных пользователей.</li>
                            <li>Пользователи могут в любой момент времени самостоятельно сохранить персональную копию своих данных на локальный компьютер. </li>
                            <li>Ваши данные доступны только вам, а также тем пользователям, которым Вы предоставите соответствующие права.</li>
                            <li>Для передачи информации по Интернету используется защищенный протокол https, предусматривающий шифрование данных.</li>
                        </ul>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Как настроить мой компьютер для работы в сервисе?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Для правильной работы приложений, необходимо выполнить несколько простых настроек браузера, которым Вы пользуетесь. Порядок их установки приведен в разделе справки Настройка браузеров. Если Вы забыли выполнить важную установку браузера, то приложение, уже в процессе работы предложит его настроить и подскажет Вам, как это сделать (в зависимости от конкретного браузера, который Вы используете). Также есть возможность работать через «Тонкий клиент», запуская базу с ярлыка 1С.</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Нужно ли мне для работы в вашем сервисе устанавливать какие-нибудь программы на своем компьютере?</p>
                    </div>
                    <div class="hidden_content">
                        <p>На Вашем компьютере не надо устанавливать никаких программ. Достаточно иметь выход в Интернет, осуществляемый при помощи обычного браузера. При желании можно использовать другие методы доступа в базу, например «Тонкий клиент».</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Где будут храниться мои данные?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Ваши данные будут храниться на серверах провайдера сервиса (фирмы «1С»), которые находятся в надежном дата-центре. Провайдер обеспечивает работу необходимого оборудования и программного обеспечения, оперативно устраняет неисправности, в случае их возникновения, осуществляет резервное копирование данных. Для доступа к данным пользователю необходим лишь компьютер, подключенный к Интернету.</p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">К кому обращаться, если не корректно работают облачные сервисы?</p>
                    </div>
                    <div class="hidden_content">
                        <p>По всем ошибкам, вопросам, недоразумениям в работе с облачными сервисами 1С:БухОбслуживание можно обращаться на линию технической поддержки 1С:Предприятие через интернет, телефон 8-800-333-72-27, E-mail: <a href="mailto:support@1cbo.ru">support@1cbo.ru</a></p>
                    </div>
                </div>
                <div class="qcontent">
                    <div class="qhead">
                        <p class="click_to_show">Могут ли несколько человек работать с одними и теми же данными?</p>
                    </div>
                    <div class="hidden_content">
                        <p>Конечно. Все данные хранятся в одном месте и доступны тем работникам Вашей фирмы, которым Вы при подключении к сервису 1С:БО решите предоставить такое право. Также предусмотрена возможность гибкого распределения прав доступа между приложениями.  Например, если Вы решите использовать для оперативного учета «1С:Управление нашей фирмой» в сервисе 1С:БО, то менеджерам по продаже можно разрешить работу только с  этим приложением  и запретить доступ к приложению «1С:Бухгалтерия предприятия».</p>
                    </div>
                </div>
                @if (Model.FirstOrDefault() != null)
                {
                    @foreach (var t in Model)
                    {
                        <div class="qcontent">
                            <div class="qhead">
                                <p class="click_to_show">@t.Name</p>
                            </div>
                            <div class="hidden_content">
                                @Html.Raw(t.Text)
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col">
            <div class="row" style="border: 1px solid rgb(250, 208, 72);background-image:url(../img/banner_buh1.png);background-repeat: no-repeat;background-position: right bottom; width:300px;height:430px; position: relative; left: 10px;">
                <p style="margin:5px;">Хотите получить консультацию?<br /><strong>Оставьте заявку и мы вам перезвоним</strong></p>
                <div class="d-block mx-auto" style="text-align:center;position: absolute;bottom: 10px;right: 10px;">
                    <button class="btn btn-danger mb-1 btn-lg" data-toggle="modal" data-target="#Connect">Оставить заявку</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(".click_to_show").click(
            function () {
                $(this).toggleClass('black');
                $(this).closest(".qcontent").find(".hidden_content").slideToggle("slow");
            }
        );
        (function ($) {
            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $(".qhead p").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        }(jQuery));

    </script>
}
