
@{
    ViewData["Title"] = "Files";
}
<a class="btn btn-info float-right" href="/Administration/Index">Назад</a>
<div class="m-3">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>
                Файл «Сравнение тарифов»
            </label>
            <input type="file" name="tariff" accept=".pdf" class="form-control-file" />
        </div>
        <div class="form-group">
            <label>
                Файл «Положение»
            </label>
            <input type="file" name="pologenie" accept=".pdf" class="form-control-file" />
        </div>
        <div class="form-group">
            <label>
                Файл «Согласие»
            </label>
            <input type="file" name="soglasie" accept=".pdf" class="form-control-file" />
        </div>

        <div class="form-group">
            <label>
                1 файл из 1 первого столбца квалификаций
            </label>
            <input type="file" name="file1" accept=".jpg, .jpeg" class="form-control-file" />
        </div>
        <div class="form-group">
            <label>
                2 файл из 1 первого столбца квалификаций
            </label>
            <input type="file" name="file2" accept=".jpg, .jpeg" class="form-control-file" />
        </div>
        <div class="form-group">
            <label>
                3 файл из 1 первого столбца квалификаций
            </label>
            <input type="file" name="file3" accept=".jpg, .jpeg" class="form-control-file" />
        </div>
        <div class="form-group">
            <label>
                4 файл из 1 первого столбца квалификаций
            </label>
            <input type="file" name="file4" accept=".jpg, .jpeg" class="form-control-file" />
        </div>
        <div class="form-group">
            <label>
                1 файл из 2 первого столбца квалификаций
            </label>
            <input type="file" name="file5" accept=".jpg, .jpeg" class="form-control-file" />
        </div>
        <div class="form-group">
            <label>
                2 файл из 2 первого столбца квалификаций
            </label>
            <input type="file" name="file6" accept=".jpg, .jpeg" class="form-control-file" />
        </div>
        <div class="form-group">
            <label>
                3 файл из 2 первого столбца квалификаций
            </label>
            <input type="file" name="file7" accept=".jpg, .jpeg" class="form-control-file" />
        </div>
        <div class="form-group">
            <label>
                4 файл из 2 первого столбца квалификаций
            </label>
            <input type="file" name="file8" accept=".jpg, .jpeg" class="form-control-file" />
        </div>

        <div class="form-group">
            <label>
                Команда 1 файл
            </label>
            <input type="file" name="we1" accept=".jpg, .jpeg" class="form-control-file" />
        </div>
        <div class="form-group">
            <label>
                Команда 2 файл
            </label>
            <input type="file" name="we2" accept=".jpg, .jpeg" class="form-control-file" />
        </div>
        <div class="form-group">
            <label>
                Команда 3 файл
            </label>
            <input type="file" name="we3" accept=".jpg, .jpeg" class="form-control-file" />
        </div>
        <div class="form-group">
            <label>
                Команда 4 файл
            </label>
            <input type="file" name="we4" accept=".jpg, .jpeg" class="form-control-file" />
        </div>
        <div class="form-group">
            <label>
                Команда 5 файл
            </label>
            <input type="file" name="we5" accept=".jpg, .jpeg" class="form-control-file" />
        </div>
        <div class="form-group">
            <label>
                Команда 6 файл
            </label>
            <input type="file" name="we6" accept=".jpg, .jpeg" class="form-control-file" />
        </div>
        <div class="form-group">
            <label>
                Команда 7 файл
            </label>
            <input type="file" name="we7" accept=".jpg, .jpeg" class="form-control-file" />
        </div>
        <div class="form-group">
            <label>
                Команда 8 файл
            </label>
            <input type="file" name="we8" accept=".jpg, .jpeg" class="form-control-file" />
        </div>
        <input type="submit" class="btn-info btn" value="Добавить" />
    </form>
</div>