<div class="container">
    <h1>Администрирование</h1>
    <a class="m-2 btn btn-info" href="/Administration/Reviews">Отзывы</a>
    <a class="m-2 btn btn-info" href="/Administration/News">Новости</a>
    <a class="m-2 btn btn-info" href="/Administration/Prices">Редактирование таблиц</a>
    <a class="m-2 btn btn-info" href="/Administration/Medals">Медали</a>
    <a class="m-2 btn btn-info" href="/Administration/Files">Файлы</a>
    <a class="m-2 btn btn-info" href="/Administration/Questions">Вопросы</a>
</div>